<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        .msgBox{
            width: 300px;
            border: 1px solid black;
        }
        .fromMsgBox{
            text-align: right;
            background-color: yellow;
        }
        .toMsgBox{
            text-align: left;
            background-color: white;
        }
        .alarmMsgBox{
            text-align: center;
            background-color: gray;
            color: #eeeeee;
        }
    </style>
</head>
<body>
    <div>
        <div class="msgBox">

        </div>
        <input type="text" class="msgInput" />
        <button type="button" onclick="onMsgSend()"> 메세지 전송</button>
    </div>
    <script src="/js/chat.js"></script>
</body>
</html>